table {
    width: 100%;
    height: 100%;
}
.head {
    background: rgb(22, 22, 82);
    height: 150px;
}
.basement {
    height: 150px;
    background: rgb(126, 126, 255);
}
.menu {
    width: 300px;
    background: rgb(226, 172, 70);
}

iframe {
    height: 100%;
}
